<div class="page-wrapper">

    <!-- HEADER -->

    <page-header>
    </page-header>

    <!-- FINAL DE HEADER -->

    <!-- DIVISOR -->

    <div class="clearfix"> </div>

    <!-- FINAL DE DIVISOR -->



    <div class="page-container">

        <!-- SIDEBAR -->

        <page-sidebar>
        </page-sidebar>

        <!-- FINAL SIDEBAR -->

        <!-- CONTENIDO -->

        <div class="page-content-wrapper">

            <div class="page-content">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Begin: Demo Datatable 1 -->
                        <div class="portlet light portlet-fit portlet-datatable bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <ol class="breadcrumb" style="background-color:transparent;">
                                        <li class="caption-subject font-dark sbold uppercase"><i class="fa fa-users" aria-hidden="true"></i> Clientes</li>
                                    </ol>
                                </div>
                                <div class="actions">
                                    <a class="btn blue sbold" [routerLink]="['/create-cliente']"><i class="fa fa-plus"></i> Nuevo cliente</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-container">
                                    <table class="table table-striped table-bordered table-hover table-header-fixed">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>Nombre del cliente
                                                  <div class="pull-right">
                                                      <i (click)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord='ASC', fecha_ord='')" class="fa fa-caret-up" style="cursor: pointer;font-size: 2rem;"></i>
                                                      <i (click)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord='DESC', fecha_ord='')" class="fa fa-caret-down" style="cursor: pointer;font-size: 2rem;"></i>
                                                  </div>
                                                </th>
                                                <th>Fecha de comienzo de gestión
                                                  <div class="pull-right">
                                                      <i (click)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord='', fecha_ord='ASC')" class="fa fa-caret-up" style="cursor: pointer;font-size: 2rem;"></i>
                                                      <i (click)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord='', fecha_ord='DESC')" class="fa fa-caret-down" style="cursor: pointer;font-size: 2rem;"></i>
                                                  </div>
                                                </th>
                                                <th>Asignado a</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                            <tr role="row" class="filter">
                                                <th>
                                                  <input class="form-control form-filter input-sm" [(ngModel)]="nombre_filtro" #ctrl="ngModel" (change)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord, fecha_ord)">
                                                </th>
                                                <th>
                                                  <input class="form-control form-filter input-sm" [(ngModel)]="fecha_filtro" #ctrl="ngModel" (change)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord, fecha_ord)">
                                                </th>
                                                <th>
                                                  <input class="form-control form-filter input-sm" [(ngModel)]="pm_asignado_filtro" #ctrl="ngModel" (change)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord, fecha_ord)">
                                                </th>
                                                <th>
                                                  <select class="form-control form-filter input-sm" [(ngModel)]="estado_filtro" #ctrl="ngModel" (change)="filter(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord, fecha_ord)">
                                                    <option value="1">Activo</option>
                                                    <option value="0">Inactivo</option>
                                                  </select>
                                                </th>
                                                <th>
                                                  <div class="margin-bottom-5">
                                                      <div class="margin-bottom-5">
                                                          <button (click)="cleanFilter()" (click)="filter(nombre_filtro='', fecha_filtro='', pm_asignado_filtro='', estado_filtro='1', nombre_ord='', fecha_ord='')" class="btn btn-sm dark btn-outline" >
                                                              <i class="fa fa-times"></i> Limpiar
                                                          </button>
                                                      </div>
                                                  </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let cliente of listClientes">
                                              <td>{{ cliente.nombre }}</td>
                                              <td>{{ cliente.fecha_comienzo }}</td>
                                              <td>{{ cliente.nombres_pm }} {{ cliente.apellidos_pm }}</td>
                                              <td *ngIf="cliente.estado == 0">
                                                  <span class="label label-sm label-danger"><strong>Inactivo</strong></span>
                                              </td>
                                              <td *ngIf="cliente.estado == 1">
                                                  <span class="label label-sm label-success"><strong>Activo</strong></span>
                                              </td>
                                              <td>
                                                  <div class="btn-group">
                                                      <button class="btn btn-sm yellow sbold dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                                                          <i class="fa fa-angle-down"></i>
                                                      </button>
                                                      <ul class="dropdown-menu" role="menu">
                                                          <li>
                                                              <a [routerLink]="['/edit-cliente', cliente.id, cliente.nombre]"><i class="fa fa-pencil"></i> Editar</a>
                                                          </li>
                                                          <li *ngIf="cliente.estado == 1">
                                                              <a (click)="onDelete(cliente, i)"><i class="fa fa-trash"></i> Eliminar </a>
                                                          </li>
                                                          <li role="separator" class="divider"></li>
                                                          <li *ngIf="cliente.estado == 1">
                                                              <a [routerLink]="['/edit-brief', cliente.id_brief, cliente.nombre_brief]"><i class="fa fa-briefcase" aria-hidden="true"></i> Brief de venta </a>
                                                          </li>
                                                          <li role="separator" class="divider"></li>
                                                          <li *ngIf="cliente.estado == 1">
                                                              <a [routerLink]="['/brief-primera-reunion', cliente.id, cliente.nombre]"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Brief de primera reunión </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <button type="button" class="btn green" style="width: 100%" (click)="search(nombre_filtro, fecha_filtro, pm_asignado_filtro, estado_filtro, nombre_ord, fecha_ord)">
                                            <strong>
                                                Ver más <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </strong>
                                       </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- FINAL DEL CONTENIDO -->

    </div>

    <!-- FOOTER -->

    <page-footer>
    </page-footer>

    <!-- FINAL DE FOOTER -->

</div>

<div class="quick-nav-overlay"></div>

<!-- MODAL ELIMINAR TAREA -->
<div bsModal #modalEliminar="bs-modal" id="eliminar-cliente" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" *ngIf="deleteCliente">

                <h4 class="modal-title">Eliminar Cliente {{ deleteCliente.nombre }}</h4>

            </div>

            <div class="modal-body">
                <form class="form-horizontal" novalidate [formGroup]="formEliminacion" id="fmrEliminate">

                  <div class="form-group" [ngClass]="{ 'has-error': formEliminacion.controls.fecha_baja.errors && formEliminacion.controls.fecha_baja.pristine && isSubmitDelete }">
                      <label for="fecha_baja" class="control-label col-md-3">
                          Fecha de baja <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <my-date-picker name="fecha_baja" [options]="myDatePickerOptions" formControlName="fecha_baja"></my-date-picker>
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEliminacion.controls.fecha_baja.errors && formEliminacion.controls.fecha_baja.pristine && isSubmitDelete">
                          <strong class="help-block" *ngIf="formEliminacion.controls.fecha_baja.errors.required && formEliminacion.controls.fecha_baja.pristine && isSubmitDelete">La fecha de baja es requerida</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEliminacion.controls.motivo_baja.errors && formEliminacion.controls.motivo_baja.pristine && isSubmitDelete }">
                      <label for="motivo_baja" class="control-label col-md-3">
                          Motivo de baja <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <input type="text" name="motivo_baja" id="motivo_baja" formControlName="motivo_baja" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEliminacion.controls.motivo_baja.errors && formEliminacion.controls.motivo_baja.pristine && isSubmitDelete">
                          <strong class="help-block" *ngIf="formEliminacion.controls.motivo_baja.errors.required && formEliminacion.controls.motivo_baja.pristine && isSubmitDelete">El motivo de baja es requerido</strong>
                      </div>
                  </div>

                </form>
            </div>

            <div class="modal-footer">
                <form>
                    <button type="button" class="btn dark btn-outline" (click)="hideModalEliminar()">Cerrar</button>
                    <button class="btn btn-danger sbold" [disabled]="loader" (click)="delete()">
                        Eliminar cliente
                        <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                    </button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
