<div class="animated fadeIn">
                	<div class="row">
     					 <div class="col-lg-6">
                	
                            <div class="card">
                                <div class="card-header">
                                    <strong>Editar </strong>contenedor
                                </div>
                                <div class="card-block">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">C&oacute;digo <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" id="text-input" name="codigo" class="form-control" placeholder="C&oacute;digo" [(ngModel)]="contenedorEdit.codigo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="Size">Size <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                 <select id="Size" [(ngModel)]="contenedorEdit.size" (change)="reqTipos($event)" [disabled]="condition" name="size" class="form-control">
                                                      <option value="" disabled>Seleccionar size</option>
                                                      <option *ngFor="let size of filteredInputSizes"
                                                        [value]="size">
                                                        {{size}}
                                                      </option>
                                                    </select>
                                            </div>
                                        </div>                                        
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="Tipo">Tipo <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                               <select  [(ngModel)]="contenedorEdit.tipo" id="Tipo" name="tipo" class="form-control">
                                                  <option value="" disabled>Seleccionar tipo</option>
                                                  <option *ngFor="let tipo of filteredInputTipos"
                                                    [value]="tipo">
                                                    {{tipo}}
                                                  </option>
                                                </select>
                                            </div>
                                        </div>                                         
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Estado <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                 <select [(ngModel)]="contenedorEdit.estado"  id="estado" name="estado" class="form-control">
                                                    <option value="OK">OK</option>
                                                    <option value="AVERIADO">Averiado</option>
                                                </select>
                                            </div>
                                        </div>  
                                         <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Bloqueado  <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
		                                    <select [(ngModel)]="contenedorEdit.bloqueado"  id="Estado" name="bloqueado" class="form-control">
                                                    <option value="Disponible">Disponible</option>
                                                    <option value="Bloqueado">Bloqueado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-right">
                                     <button  (click)="cambioScreen('cuentas',item,200)" class="btn btn-sm btn-danger pointer"><i class="fa fa-ban"></i> Cancelar</button>
                                    <button (click)="submitContenedor()" class="btn btn-sm btn-primary pointer"><i class="fa fa-dot-circle-o"></i> Guardar</button>
                                </div>
                            </div>
</div>
                	</div>
                    <!-- /.row -->
				</div>
				<!-- /.animated fadein -->



