<div class="container contenedorLogo">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-block animated fadeInDown" >
            <div style='text-align: center;margin-bottom: 20px;'>
              <img src="../assets/img/logo_retinax5.png" />
            </div>
             <ng2-toasty>

            </ng2-toasty>
            <form [formGroup]="changePassForm" (ngSubmit)="changePassEvent($event)">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i>
                </span>
                <input formControlName="email" type="email" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i>
                </span>
                <input formControlName="password" type="password" name="password" class="form-control" placeholder="Nueva Contraseña">
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <button type="submit" [disabled]="!changePassForm.valid || this.load" class="btn btn-primary px-4 col-12"><i class="fa fa-refresh fa-spin fa-fw" *ngIf="this.load" ></i>Renovar Contraseña</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>