.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
	float: left;
}
.red{
	width: 20px;
    height: 20px;
    background: red;
}
.green{
	width: 20px;
    height: 20px;
	background: green;
}
.leyenda{
	float: left;
}
.marcador{
	clear: both;
    padding: 5px;
}
.card{
	    /* min-width: 245px; */
}
.botonera_tabla{
	/*text-align: center;*/
}
