<div class="container-fluid">
                <div class="animated fadeIn">
        <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="pull-left">Listado de Usuarios</h5>
                                    <a class="btn btn-outline-primary pull-right" style="margin: 0px;" (click)="cambioScreen('nuevo')"><i class="icon-plus"></i> Crear usuario</a>
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered table-striped table-sm">

                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>
                                                Nombre
                                                <i (click)='sortbydesc("nombre")' class="fa fa-arrow-down pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                <i (click)='sortby("nombre")' class="fa fa-arrow-up pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                  
                                                </th>
                                                <th>
                                                Apellido
                                                <i (click)='sortbydesc("apellido")' class="fa fa-arrow-down pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                <i (click)='sortby("apellido")' class="fa fa-arrow-up pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                  
                                                </th>
                                                <th class="hidden-xs">Empresa
                                                <i (click)='sortbydesc("nombre_empresa")' class="fa fa-arrow-down pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                <i (click)='sortby("nombre_empresa")' class="fa fa-arrow-up pull-right pointer hoverBlue" aria-hidden="true"></i></th>
                                                <th class="hidden-xs">E-mail
                                                <i (click)='sortbydesc("correo")' class="fa fa-arrow-down pull-right pointer hoverBlue" aria-hidden="true"></i>
                                                <i (click)='sortby("correo")' class="fa fa-arrow-up pull-right pointer hoverBlue" aria-hidden="true"></i></th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                            <tr role="row" class="filter">
                                                <th>
                                                  <input type="text"  [(ngModel)]="busquedaNombre"  class="form-control" (change)="change(estadoFiltro)">
                                                </th>
                                                <th>
                                                  <input type="text"  [(ngModel)]="busquedaApellido"  class="form-control" (change)="change(estadoFiltro)">
                                                </th>
                                                <th class="hidden-xs">
                                                <input type="text" [(ngModel)]="busquedaEmpresa" class="form-control" (change)="change(estadoFiltro)">     
                                                </th>
                                                <th class="hidden-xs">
                                                <input  type="text" [(ngModel)]="busquedaEmail" class="form-control" (change)="change(estadoFiltro)"></th>
                                                <th>
                                                 <select [(ngModel)]="busquedaEstado" class="form-control" id="sel1" (change)="change(estadoFiltro)">
                                                  <option value="9">Todos</option>
                                                  <option value=1>Habilitado</option>
                                                  <option value=0>Deshabilitado</option>
                                                  
                                                </select>
                                                <th>
                                                <button class="btn btn-block btn-outline-primary" (click)="resetFilter()">Limpiar Filtros</button></th>
                                            </tr>
                                        </thead>
                                 <tbody *ngFor="let item of users">
                                      <tr>
                                          <td>{{item.nombre}}</td>
                                          <td>{{item.apellido}}</td>
                                          <td class="hidden-xs">{{item.nombre_empresa}}</td>
                                          <td class="hidden-xs">{{item.correo}}</td>
                                          <td>
                                              <span *ngIf="!item.habilitado" class="badge badge-warning">Deshabilitado</span>
                                              <span *ngIf="item.habilitado" class="badge badge-success">Habilitado</span>
                                          </td>
                                          <td>
                                              <div class="botonera_tabla">
                                                <button type="button" class="btn btn-outline-primary pointer" (click)="cambioScreen('editar',item,200)"><i class="icon-pencil"></i></button>
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                                  
                              </table>
                              <div *ngIf="users?.length==0" class="card col-12">
                                    <h3 class="text-center" style="padding:20px">
                                       No hay registros que coincidan con la busqueda
                                    </h3>
                              </div>

                    <button *ngIf="this.viewMore" class="btn btn-primary btn-block pointer" (click)="loadData()"><i class="fa fa-arrow-down  fa-lg fa-fw pull-left " aria-hidden="true"></i> Ver Más </button>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>

              </div>
            </div>
            <!-- /.conainer-fluid -->