
                <div class="animated fadeIn">
                    <div class="row">
                    <div class="col-md-4">
                            <div class="card card-inverse card-success">
                                <div class="card-block">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="icon-grid"></i>
                                    </div>
                                    <div class="h4 mb-0">972</div>
                                    <small class="text-muted text-uppercase font-weight-bold">CONTENEDORES EN PLAZA</small>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-4">
                            <div class="card card-inverse card-danger">
                                <div class="card-block">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="icon-lock"></i> 
                                    </div>
                                    <div class="h4 mb-0">10</div>
                                    <small class="text-muted text-uppercase font-weight-bold">CONTENEDORES BLOQUEADOS</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-inverse card-info">
                                <div class="card-block">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="icon-speedometer"></i> 
                                    </div>
                                    <div class="h4 mb-0">07/02/17 15:34:11</div>
                                    <small class="text-muted text-uppercase font-weight-bold">&Uacute;ltimo reporte EDI</small>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                    
                </div>
                <!-- /.animated fadein -->

<!--  REFRESH LOGIN -->
<!-- <refreshLog [modalActivated]="modal"></refreshLog> -->
<!-- FIN REFRESH LOGIN -->


