<div class="login">

    <div class="content">

        <ng2-toasty [position]="'top-right'"></ng2-toasty>

        <h3 class="form-title font-green">Inicio de sesión</h3>

        <form novalidate [formGroup]="formLogin">

            <div class="form-group" [ngClass]="{ 'has-error': formLogin.controls.email.errors && formLogin.controls.email.pristine && isSubmitLogin }">
                <label class="control-label" for="email">Correo electrónico laboral:</label>
                <input type="text" class="form-control" name="email" id="email" formControlName="email" placeholder="Email">
                <div *ngIf="formLogin.controls.email.errors && formLogin.controls.email.pristine && isSubmitLogin">
                    <strong class="help-block" *ngIf="formLogin.controls.email.errors.required && formLogin.controls.email.pristine">El email es requerido</strong>
                    <strong class="help-block" *ngIf="formLogin.controls.email.errors.pattern && formLogin.controls.email.pristine">Formato de email inválido (ej: name@mail.com)</strong>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': formLogin.controls.password.errors && formLogin.controls.password.pristine && isSubmitLogin }">
                <label class="control-label" for="password">Contraseña:</label>
                <input type="password" class="form-control" name="password" id="password"  formControlName="password" placeholder="Contraseña">
                <div *ngIf="formLogin.controls.password.errors && formLogin.controls.password.pristine && isSubmitLogin">
                    <strong class="help-block" *ngIf="formLogin.controls.password.errors.required && formLogin.controls.password.pristine">La contraseña es requerida</strong>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loader" class="btn green" (click)="login()">
                    <strong>Entrar</strong>
                    <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                </button>
            </div>

            <div class="create-account">
                <p>
                    <a [routerLink]="['/register']" class="uppercase">Regístrate</a>
                </p>
            </div>

        </form>

    </div>

</div>
