<div class="page-wrapper">

    <!-- HEADER -->

    <page-header>
    </page-header>

    <!-- FINAL DE HEADER -->

    <!-- DIVISOR -->

    <div class="clearfix"> </div>

    <!-- FINAL DE DIVISOR -->

    <div class="page-container">

        <!-- SIDEBAR -->

        <page-sidebar>
        </page-sidebar>

        <!-- FINAL SIDEBAR -->

        <!-- CONTENIDO -->

        <div class="page-content-wrapper">

            <div class="page-content" id="fondoBlue">

            </div>

        </div>

        <!-- FINAL DEL CONTENIDO -->

    </div>

    <!-- FOOTER -->

    <page-footer>
    </page-footer>

    <!-- FINAL DE FOOTER -->

</div>

<div class="quick-nav-overlay"></div>
